{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Button trigger modal -->

  




<!-- Two -->
<section id="two" class="wrapper style2 fade-up">
   
    <div class="inner">
        <h2>Expressions</h2>
        
        <form action="" method="post">
            {% csrf_token %}
            <!-- MODAL  -->
            <a href="" class="button mb-4" data-bs-toggle="modal" data-bs-target="#myModalExpression" >Add expression</a>
            <div  class="modal fade" id="myModalExpression" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <div class="modal-dialog"  >
                    <div class="modal-content">
                    <div class="modal-header morado">
                        <h5 class="modal-title" id="exampleModalLabel" >Add New Expression </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body morado" >
                        <div class="container-fuid">
                            {{form}}
                        </div>
                            
                    </div>
                    <div class="modal-footer morado" >
            
                        <a href="" class="button" data-bs-dismiss="modal">Close</a>
                        <input type="submit" class="button" value="Add">
                        
                    </div>
                    </div>
                </div>
            </div>
        </form> 
        <!-- END MODAL-->
    
          
        <div class="features">
            {% for e in expressions%}
                <section>
                    <span class="icon solid major fa-gem"></span>
                    <h3>{{e.title}}</h3>
                    <h4 style="color: #ffa4de;">{{e.meaning}}</h4>
                    <p style="font-weight: bold;">{{e.example}}</p>
                    <a class="button " style="display:none"href="{% url 'del_expr' e.id %}">Eliminar</a>
                </section>
                
            {% endfor %}            
        </div>
    </div>
</section>      

{% endblock content %}


    